In [33]:
# Dependencies
import pandas as pd
import numpy as np
import re

In [34]:
# Name of the CSV file
file = 'Resources/Police_Incidents.csv'

In [35]:
po_poDF = pd.read_csv(file);

In [36]:
def ConvertCoor(text):
    Coordinates=text[text.find("(")+1:text.find(")")]
    Coordinates = Coordinates.split(',')
    try:
        Coordinates = [float(Coordinates[0]),float(Coordinates[1])]
    except:
        Coordinates = np.nan
    return Coordinates

In [37]:
po_poDF.head()

,Incident Number w/year,Year of Incident,Service Number ID,Watch,Call (911) Problem,Type of Incident,Type Location,Type of Property,Incident Address,Apartment Number,...,NIBRS Code,NIBRS Group,NIBRS Type,Update Date,X Coordinate,Y Cordinate,Zip Code,City,State,Location1
0,151324-2016,2016,151324-2016-01,3,40/01 - OTHER,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",NaN,3820 W NORTHWEST HWY,NaN,...,NaN,NaN,NaN,6/26/2016 8:30,2474503.083,7000385.891,75220.0,DALLAS,TX,"3820 W NORTHWEST HWY\nDALLAS, TX 75220\n(32.86..."
1,225845-2015,2015,225845-2015-01,1,07 - MINOR ACCIDENT,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",NaN,400 OLIVE ST,NaN,...,NaN,NaN,NaN,9/30/2015 10:07,2492638.023,6972580.227,75201.0,DALLAS,TX,"400 OLIVE ST\nDALLAS, TX 75201\n(32.784474, -9..."
2,310747-2016,2016,310747-2016-01,3,7X - MAJOR ACCIDENT,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",NaN,3200 KIRNWOOD DR,NaN,...,NaN,NaN,NaN,1/2/2017 2:57,2470294.722,6923469.288,75237.0,DALLAS,TX,"3200 KIRNWOOD DR\nDALLAS, TX 75237(32.8451995,..."
3,164601-2016,2016,164601-2016-02,1,58 - ROUTINE INVESTIGATION,TRAF VIO -DRIVING W VIO FIN RESP ACCIDENT SBI...,"Highway, Street, Alley ETC",NaN,NaN,NaN,...,NaN,NaN,NaN,7/11/2016 10:55,NaN,NaN,NaN,NaN,NaN,NaN
4,217928-2014,2014,217928-2014-01,1,40/01 - OTHER,FAIL TO LEAVE ID AT SCENE OF ACCIDENT DAMAGE <...,"Highway, Street, Alley ETC",NaN,3300 SAMUELL BLVD,NaN,...,NaN,NaN,NaN,9/11/2014 5:54,NaN,NaN,75204.0,Dallas,TX,"3300 SAMUELL BLVD\nDallas, TX 75204\n(32.79293..."

In [38]:
po_poDF.dropna(subset=['Location1'],inplace=True)
cleanPo_poDF=po_poDF[['Type of Incident','Type  Location','Year of Incident', 'Location1', 'Zip Code','Update Date']].copy()
cleanPo_poDF.head()

,Type of Incident,Type Location,Year of Incident,Location1,Zip Code,Update Date
0,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",2016,"3820 W NORTHWEST HWY\nDALLAS, TX 75220\n(32.86...",75220.0,6/26/2016 8:30
1,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",2015,"400 OLIVE ST\nDALLAS, TX 75201\n(32.784474, -9...",75201.0,9/30/2015 10:07
2,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",2016,"3200 KIRNWOOD DR\nDALLAS, TX 75237(32.8451995,...",75237.0,1/2/2017 2:57
4,FAIL TO LEAVE ID AT SCENE OF ACCIDENT DAMAGE <...,"Highway, Street, Alley ETC",2014,"3300 SAMUELL BLVD\nDallas, TX 75204\n(32.79293...",75204.0,9/11/2014 5:54
5,FAIL TO LEAVE ID AT SCENE OF ACCIDENT DAMAGE <...,"Highway, Street, Alley ETC",2014,"5400 N JIM MILLER RD\nDALLAS, TX 75227\n(32.78...",75227.0,2/19/2018 23:31

In [39]:
cleanPo_poDF['Coordinates']=cleanPo_poDF['Location1'].apply(ConvertCoor,convert_dtype=True)


#cleanPo_poDF.head()

In [40]:
cleanPo_poDF.dropna(subset=['Coordinates'],inplace=True)

In [41]:
cleanPo_poDF.head()

,Type of Incident,Type Location,Year of Incident,Location1,Zip Code,Update Date,Coordinates
0,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",2016,"3820 W NORTHWEST HWY\nDALLAS, TX 75220\n(32.86...",75220.0,6/26/2016 8:30,"[32.861734, -96.852296]"
1,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",2015,"400 OLIVE ST\nDALLAS, TX 75201\n(32.784474, -9...",75201.0,9/30/2015 10:07,"[32.784474, -96.794717]"
2,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",2016,"3200 KIRNWOOD DR\nDALLAS, TX 75237(32.8451995,...",75237.0,1/2/2017 2:57,"[32.8451995, -96.7831166]"
4,FAIL TO LEAVE ID AT SCENE OF ACCIDENT DAMAGE <...,"Highway, Street, Alley ETC",2014,"3300 SAMUELL BLVD\nDallas, TX 75204\n(32.79293...",75204.0,9/11/2014 5:54,"[32.792939, -96.738253]"
5,FAIL TO LEAVE ID AT SCENE OF ACCIDENT DAMAGE <...,"Highway, Street, Alley ETC",2014,"5400 N JIM MILLER RD\nDALLAS, TX 75227\n(32.78...",75227.0,2/19/2018 23:31,"[32.789257, -96.699973]"

In [42]:
cleanPo_poDF['Update Date']=pd.to_datetime(cleanPo_poDF['Update Date'])

In [43]:
cleanPo_poDF['Day of Week']=cleanPo_poDF['Update Date'].dt.day_name()

In [44]:
cleanPo_poDF.head()

,Type of Incident,Type Location,Year of Incident,Location1,Zip Code,Update Date,Coordinates,Day of Week
0,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",2016,"3820 W NORTHWEST HWY\nDALLAS, TX 75220\n(32.86...",75220.0,2016-06-26 08:30:00,"[32.861734, -96.852296]",Sunday
1,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",2015,"400 OLIVE ST\nDALLAS, TX 75201\n(32.784474, -9...",75201.0,2015-09-30 10:07:00,"[32.784474, -96.794717]",Wednesday
2,ACCIDENT INVOLVING INJURY,"Highway, Street, Alley ETC",2016,"3200 KIRNWOOD DR\nDALLAS, TX 75237(32.8451995,...",75237.0,2017-01-02 02:57:00,"[32.8451995, -96.7831166]",Monday
4,FAIL TO LEAVE ID AT SCENE OF ACCIDENT DAMAGE <...,"Highway, Street, Alley ETC",2014,"3300 SAMUELL BLVD\nDallas, TX 75204\n(32.79293...",75204.0,2014-09-11 05:54:00,"[32.792939, -96.738253]",Thursday
5,FAIL TO LEAVE ID AT SCENE OF ACCIDENT DAMAGE <...,"Highway, Street, Alley ETC",2014,"5400 N JIM MILLER RD\nDALLAS, TX 75227\n(32.78...",75227.0,2018-02-19 23:31:00,"[32.789257, -96.699973]",Monday

In [54]:
cleanPo_poDF.to_csv('CleanPo_po.csv')